<h3>{{mainMemeList}}</h3>

<div class='table-responsive'>
<table class='table'>
    <thead>
        <tr>
            <th>Meme</th>
            <th>Keyword</th>
            <th>Likes</th>
            <th>Dislikes</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor='let meme of memes'>
            <td><img src={{meme.memeUrl}} alt="" height=100 width=150></td>
            <td>{{meme.memeKeyword}}</td>
            <td>{{meme.likes}}</td>
            <td>{{meme.dislikes}}</td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>
</div>